.available-slots {
  margin: 20px;
  padding: 15px;

  .mute-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


  .filters {
    margin: 15px;
    padding: 10px;
    mat-chip {
      background-color: #fff;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      &.active {
        background-color: #3f51b5;
        color: #fff;
      }
    }
  }

  .total {
    font-size: 6fr;
    font-weight: 900;
    margin: 20px;
  }

  .card {
    margin: 10px;

    .card-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .section-one {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        p {
          span {
            font-weight: bold;
          }
        }
      }
      .section-two {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        p {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

mat-card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}


.no-data-available{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .available-slots {
    margin: 5px;
    padding: 5px;
  }
}
