.finder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;


  .title {
    font-weight: 900;
    font-size: 24px;
  }
  .action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 10px;

    button {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .action-buttons {
    width: 90% !important;
  }
}
