.finder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;

  .action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 10px;

    button {
      margin: 10px;
    }
  }
}
