<div class="container">
  <h1 class="title">Find Vaccine By District</h1>

  <div class="states" *ngIf="listOfStates$ | async as listOfStates">
    <p>Choose your State</p>
    <ng-container *ngIf="!(listOfStates | isEmpty)">
      <mat-form-field appearance="fill">
        <mat-label>Selected State</mat-label>
        <mat-select
          [compareWith]="selectedStateToDisplay"
          [(ngModel)]="selectedState"
          name="states"
          (selectionChange)="newSelectedState($event?.value)"
        >
          <mat-option *ngFor="let states of listOfStates" [value]="states">
            {{ states?.stateName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

  <div class="districts" *ngIf="listOfDistricts$ | async as listOfDistricts">
    <ng-container *ngIf="!(listOfDistricts | isEmpty)">
      <p>Choose your District</p>
      <mat-form-field appearance="fill">
        <mat-label>Selected District</mat-label>
        <mat-select
          [(ngModel)]="selectedDistrict"
          name="district"
          [compareWith]="selectedDistrictToDisplay"
          (selectionChange)="newSelectedDistrict()"
        >
          <mat-option
            *ngFor="let district of listOfDistricts"
            [value]="district"
          >
            {{ district?.districtName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

  <div *ngIf="!(selectedDistrict?.districtName | isEmpty)">
    <covac-custom-calendar
      [selectedDate]="selectedDate"
      (dateChange)="countdown?.restart()"
    >
    </covac-custom-calendar>
  </div>

  <div class="action-bar" *ngIf="!(selectedDistrict?.districtName | isEmpty)">
    <button
      mat-stroked-button
      class="large white"
      color="primary"
      (click)="getSlots()"
    >
      Search
    </button>
  </div>

  <div class="refresh-countdown" *ngIf="hasSeached">
    Data refreshing in
    <countdown #cd [config]="countDownConfig"></countdown> seconds.
  </div>

  <div
    class="available-slots"
    *ngIf="listofAvailableSlots$ | async as availableSlotData"
  >
    <covac-available-slot-view
      [availableSlotData]="availableSlotData" *ngIf="hasSeached"
    ></covac-available-slot-view>
  </div>
</div>
