.container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-weight: 900;
    font-size: 24px;
  }

  .states,
  .districts {
    width: 35%;
    mat-form-field {
      width: 100%;
    }
  }

  .refresh-countdown {
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
  }
}

::ng-deep {
  .mat-form-field-flex {
    background-color: #fff !important;
    border-radius: 20px !important;
    padding: 10px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
      0 12.5px 10px rgb(0 0 0 / 2%), 0 22.3px 17.9px rgb(0 0 0 / 1%),
      0 41.8px 33.4px rgb(0 0 0 / 1%), 0 100px 80px rgb(0 0 0 / 12%);
  }

  .mat-form-field-underline {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .states,
  .districts {
    width: 100% !important;
  }
}
