<div class="container">
  <h2>Find Vaccine By Pincode</h2>

  <mat-form-field class="pincode">
    <mat-label>Enter your pincode</mat-label>
    <input
      type="number"
      matInput
      placeholder="Pincode"
      (keyup)="newPincode()"
      [(ngModel)]="selectedPincode"
    />
  </mat-form-field>

  <div *ngIf="!(selectedPincode | isEmpty) && isValidPincode">
    <covac-custom-calendar
      [selectedDate]="selectedDate"
      (dateChange)="countdown?.restart()"
    >
    </covac-custom-calendar>
  </div>

  <div
    class="action-bar"
    *ngIf="!(selectedPincode | isEmpty) && isValidPincode"
  >
    <button
      mat-stroked-button
      class="large white"
      color="primary"
      (click)="getSlots()"
    >
      Search
    </button>
  </div>

  <div class="refresh-countdown" *ngIf="hasSeached">
    Data refreshing in
    <countdown #cd [config]="countDownConfig"></countdown> seconds.
  </div>

  <div
    class="available-slots"
    *ngIf="listofAvailableSlots$ | async as availableSlotData"
  >
    <covac-available-slot-view
      [availableSlotData]="availableSlotData"
      *ngIf="hasSeached"
    ></covac-available-slot-view>
  </div>
</div>
