
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid-vaccine-finder-primary: mat.define-palette(mat.$indigo-palette);
$covid-vaccine-finder-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid-vaccine-finder-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$covid-vaccine-finder-theme: mat.define-light-theme((
  color: (
    primary: $covid-vaccine-finder-primary,
    accent: $covid-vaccine-finder-accent,
    warn: $covid-vaccine-finder-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($covid-vaccine-finder-theme);

html, body { height: 100%; background-color: #f5f5f5}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Theming

button {
  border-radius: 50px !important;
  height: 48px;

  &.large {
    height: 64px !important;
    width: 280px;
  }

  &.medium {
    height: 42px !important;
    width: 140px;
  }

  &.full {
    width: 100%;
    font-weight: bolder;
  }

  &.white {
    background-color: #fff !important;
  }

}


@media only screen and (max-width: 600px) {
  html, body {
    width: 100%;
  }
}
